.env
# pixi environments
.pixi
*.egg-info
# vscode / cursor
.vscode/settings.json

# Build Artifacts
*.mojopkg

# Submodules
third_party/

# Stdlib build artifacts
kgen.trace*

# Build artifacts
third_party/ffmpeg/build
build
test_pixman_cairo/build
third_party/pixman/build
third_party/cairo/build
third_party/install

# Test Data
test_data/
media/